<h1>게시판</h1>
<p>글을 작성해주세요</p>

<form action="/post/create">
  제목 : <input type="text" name="title" /><br />
  내용 : <textarea name="body" rows="8" cols="80"></textarea><br />
  <input type ="submit" value="뿅! "/>
</form>
